<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<div class="container">
	<p>Sign in as one of four default users:</p>
		<ul>
			<li>walter@dublindonut.com</li>
			<li>mike@dublindonut.com</li>
			<li>guest1@example.com</li>
			<li>guest2@example.com<li>
		</ul>
	<p>Password is password</p>
</div>
