<!DOCTYPE html>
<html>
<head>
  <title>lol what even is this?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
	<%= csrf_meta_tags %>
	<meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>
<% if notice %>
	<p class="alert alert-success"><%= notice %>
<% end %>
<% if alert %>
	<p class="alert alert-danger"><%= alert %>
<% end %>

<%= yield %>

<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>

</body>
</html>
